main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    margin: 0;  
    padding: 0;

}
#start {
    font-size: 48px;
    font-weight: bold;  
    color: var(--primary-color);
    text-align: center;
    border: solid 4px black;
    border-radius: 15px;
    padding: .3em .5em;
    font-weight: bolder;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;

}

#ground {
    width: 100%;
    background-color: #21652a;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#sky{
    width: 100%;
    background-color: #271d80;
    height: 100%;
}

#life {
    width: 100%;
    height: 100%;
    background-color: #87ceeb;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

#start:hover {
    background-color: black;
    color: red;
}

#tree {
    position: relative;
    top: -5em;
    display: flex;
    flex-direction: column;     
    align-items: center;
}

#branches {
    background-color: green;
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

#trunk {
    background-color: brown;
    width: 40px;
    height: 100px;
}

#roots {
    background-color: sienna;
    width: 60px;
    height: 30px;
}

#house {
    
}

#roof {
    
}

#walls {
    
}

#firepit{}
